{% extends 'base.html.twig' %}

{% block body %}
    <h1>Specialite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specialite.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ specialite.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ specialite.description }}</td>
            </tr>
            <tr>
                <th>Icone</th>
                <td>{{ specialite.icone }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{% if specialite.statut %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ specialite.slug }}</td>
            </tr>
            <tr>
                <th>Publiepar</th>
                <td>{{ specialite.publiePar }}</td>
            </tr>
            <tr>
                <th>Modifiepar</th>
                <td>{{ specialite.modifiePar }}</td>
            </tr>
            <tr>
                <th>Publiele</th>
                <td>{{ specialite.publieLe }}</td>
            </tr>
            <tr>
                <th>Modifiele</th>
                <td>{{ specialite.modifieLe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('backend_specialite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('backend_specialite_edit', { 'id': specialite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
